[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
attrs = "==19.1.0"
black = "==19.3b0"
certifi = "==2018.11.29"
click = "==7.0"
pipenv = "==2018.11.26"
protobuf = "==3.6.1"
rope = "==0.12.0"
six = "==1.11.0"
toml = "==0.10.0"
virtualenv = "==16.4.3"
virtualenv-clone = "==0.5.1"

[requires]
python_version = "3.7"
